@font-face {
    font-family: 'MS Sans Serif';
    src: url('./assets/fonts/ms-sans-serif/MS Sans Serif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS Sans Serif bold';
    src: url('./assets/fonts/ms-sans-serif/MS Sans Serif Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* VARIABLES */
:root {
    --font-windows-2000: 'MS Sans Serif';
    --font-windows-2000-bold: 'MS Sans Serif bold';
    --bg-color: #386FA7;
    --color-primary: #020617;
    --color-secondary: #1e293b;
    --a: #c7c1ba;
    --bg-nav: #D7D0C8;
}


/* RESET */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
} */

body {
    font-family: var(--font-windows-2000);
    background-color: var(--bg-color);
    color: var(--color-primary);
    min-height: 100vh;
}
/*
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.gras {
    font-family: var(--font-windows-2000-bold);
}